<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-solid fa-phone"></i>
            <i class="fa-solid fa-inbox"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy2025 Available Classes Portal (VJHUNJHUN)</div>
        <div class="f-info-links">
            <a href="/privacy" >Privacy</a>
            <a href="/terms" class="ms-2">Terms</a>
        </div>
    </div>
</footer>