<nav class="navbar navbar-expand-sm bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-graduation-cap"></i>ClassCover</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/classes">All classes</a>
        <a class="nav-link" href="/classes/new">Add Class</a>
      </div>
      <div class="navbar-nav ms-auto">
        <%if(!currUser){%>
          <a class="nav-link" aria-current="page" href="/login"><b>login</b></a>
        <a class="nav-link" href="/signup"><b>Sign Up</b></a>
        <%}%>
        <%if(currUser){%>
            <a class="nav-link" href="/profile/<%=currUser._id%>"><i class="fa-solid fa-user"></i></a>
          <a class="nav-link" href="/logout"><b>logout</b></a>
        <%}%>
      </div>
    </div>
  </div>
</nav>